* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #F7F7F9;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3BB77E;
  border-radius: 100px;

}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button {
  text-transform: unset !important;
}

.css-tfdy56-MuiTreeItem-content {
  flex-direction: row-reverse !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.sticky-bar {
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: all .3s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  z-index: 99;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
}


img {
  max-width: 100%;
  vertical-align: middle;
}

.tabs-component {
  max-width: 800px;
  margin: auto;
  background: var(--white);
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.tab-links {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.tab {
  position: relative;
}

.tab a {
  text-decoration: none;
  color: var(--black);
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-radius: var(--border-radius);
  background: none;
  transition: background 0.5s ease;
}

.tab svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  fill: var(--black);
  transition: fill 0.5s ease;
}

.tab.active::before {
  background: var(--active-color);
}

.tab span {
  font-weight: 700;
  margin-left: 10px;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--active-color);
}

.tab.active svg {
  fill: var(--active-color);
}

.tab a {
  padding: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.content-card {
  width: 48%;
  margin-bottom: 26px;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}