* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #F7F7F9;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3BB77E;
  border-radius: 100px;

}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button {
  text-transform: unset !important;
}

.css-tfdy56-MuiTreeItem-content {
  flex-direction: row-reverse !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.sticky-bar {
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: all .3s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 62px;
  z-index: 99;
  left: 0;
  background: #fff;
  padding: 10px 0;
}